<html>

<body>

<p>
<strong>Esp. Juan Pablo Marinelli - Business intelligence - Data analytics</strong>


<br>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="">Acerca de</a></li>
    <li><a href="/accounts/login/">Login</a></li>
    <li><a href="/register/">Registrate</a></li>
    <li><a href="/ejemplos/">Ejemplos de informes</a></li>
    <li><a href="">Contenido audiovisual</a></li>
    <li><a href="/logout/">Salir</a></li>


</ul>



</body>

{% block content %}

{% endblock %}
</html>